*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(image/5192479.jpg);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container img{
    width: 20%;
    
}
@media (max-width: 768px) {
    .container {
        background-size: cover;
        width: 50%;
        height: 100vh;
    }
}

.calculator{

    padding: 20px;
    border-radius: 10px;
    background: #3a4452;
}
.calculator form input{
   border: 0%;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
#value{
   background: #464747;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}
.container img{
    width: 20%;
    left: 0%;
    top: 50%;
    position: absolute;
    padding: 20px;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);  /* L'image commence en dehors du conteneur à gauche */
    }
    100% {
        transform: translateX(100%);  /* L'image finit en dehors du conteneur à droite */
    }
}